<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../components/navbar') %>
    <a href="/users">Kembali</a>

    <h1>Detail User</h1>
    <ul>
        <li>Nama: <strong><%=user.name %></strong></li>
        <li>Email: <strong><%=user.email %></strong></li>
    </ul>


    <footer>
        <p>&copy; 2020 dunia persilatan</p>
    </footer>
</body>
</html>