<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('components/navbar') %>
    <h1>hello <%=kelas.nama%> !</h1>
    <footer>
        <p>&copy; 2020 dunia persilatan</p>
    </footer>
</body>
</html>